<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbBdNsInVCtRcpQkdwD-LaoLGU2xwX3yo</string>
	<key>GCM_SENDER_ID</key>
	<string>832163353382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pk.merarashan.app</string>
	<key>PROJECT_ID</key>
	<string>merarashanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>merarashanapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832163353382:ios:b3d0390c7aab8ccfea27e7</string>
</dict>
</plist>